{% assign section = include.section %}
<div class="row">
    <div class="col">
        <h2>{{ section.name }}</h2>

        {% if section.leading %}
            {{ section.leading }}
        {% endif %}

        {% assign hasTabs = section.tabs | first %}
        {% if hasTabs.title %}
            <div class="btn-group">
                {% for tab in section.tabs %}
                    {% if forloop.index == 1 %}
                        {% assign buttonClass = "btn-secondary" %}
                    {% else %}
                        {% assign buttonClass = "btn-light" %}
                    {% endif %}

                    {% assign id = section.name | append: tab.title | replace: ' ', '-' | replace: '&', '' | downcase %}
                    <button type="button" class="btn {{ buttonClass }}" data-id="{{ id }}">
                        {{ tab.title }}
                    </button>
                {% endfor %}
            </div>
        {% endif %}

        {% for tab in section.tabs %}
            {% assign id = section.name | append: tab.title | replace: ' ', '-'| replace: '&', '' | downcase %}
            {% if forloop.index != 1 %}
                {% assign hidden = " hidden" %}
            {% else %}
                {% assign hidden = "" %}
            {% endif %}
            <div class="{{ id }}{{ hidden }}">
                {% if tab.leading %}
                    <p>{{ tab.leading }}</p>
                {% endif %}

                {% if tab.split %}
                    <div class="row">
                        {% for movie in tab.split %}
                            <div class="col">
                                {% include post/youtube.html id=movie.youtube desc=movie.desc %}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    {% include post/youtube.html id=tab.youtube desc=tab.desc %}
                {% endif %}
            </div>
        {% endfor %}

    </div>
</div>
