<div style="margin-bottom: 8px" class="no-print">
    <div class="crown-rewards-filters" style="display: flex">
        <div style="margin-right: 8px">
            <button type="button" class="btn btn-light" data-type="upper">Upper</button>
            <button type="button" class="btn btn-light" data-type="lower">Lower</button>
            <button type="button" class="btn btn-light" data-type="pattern">Patterns</button>
            <button type="button" class="btn btn-light" data-type="colour">Colours</button>
            <button type="button" class="btn btn-light" data-type="faceplate">Faceplate</button>
            <button type="button" class="btn btn-light" data-type="banner">Banners</button>
            <button type="button" class="btn btn-light" data-type="nickname">Nicknames</button>
        </div>

        <div class="form-group" style="max-width: 250px">
            <input type="email" class="form-control" id="search" placeholder="Search">
        </div>

        <div style="text-align: right; flex: 1">
            {% if include.current == 'cards' %}
                <a href="{{ site.baseurl }}/crown-level-rewards-table.html" class="btn btn-dark" title="Go to Table view">
                    <i class="fa fa-table"></i> Table Version
                </a>
            {% else %}
                <a href="{{ site.baseurl }}/crown-level-rewards.html" class="btn btn-dark"title="Go to Cards view">
                    <i class="fa fa-address-card"></i></i> Cards Version
                </a>
            {% endif %}

            <a href="{{ site.baseurl }}/assets/crown-level-rewards.csv" class="btn btn-dark" title="Download CSV of the crown rewards data">
                <i class="fa fa-file-excel"></i>
            </a>

            <a href="{{ site.baseurl }}/" class="btn btn-light">Sangu's Fall Guys <i class="fa fa-long-arrow-alt-right"></i></a>
        </div>
    </div>
</div>
