@charset "utf-8";

body, html {
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
}

@font-face {
    font-family: 'TitanOne';
    src: url('/fallguys/assets/TitanOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
