.crown-rewards {
    .reward-colour {
        display: inline-block;
        width: 7em;
        height: 7em;
        border-radius: 15%;
        border: 0;
        padding: 0;

        &.sm {
            width: 3em;
            height: 3em;
        }
    }

    .reward-name {
        font-size: 26px;
    }

    .crown-count {
        font-size: 18px;
        vertical-align: inherit;
    }
}



a.rss-link, a.rss-link:link, a.rss-link:visited, a.rss-link:hover, a.rss-link:active {
  margin-left: 6px;
  color: #E74600;
}
