.crown-rewards {
    .reward-colour {
        display: inline-block;
        width: 7em;
        height: 7em;
        border-radius: 15%;
        border: 0;
        padding: 0;

        &.sm {
            width: 3em;
            height: 3em;
        }
    }

    .reward-name {
        font-size: 26px;
    }

    .crown-count {
        font-size: 18px;
        vertical-align: inherit;
    }
}

.level-detail {
    .flybywrapper {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;

        img {
            cursor: pointer;
        }

        .flyby-btn {
            font-size: 36px;
            color: #2EC8EA;
            cursor: pointer;

            position: absolute;
            width: 96px;
            height: 96px;
            left: 50%;
            top: 50%;
            margin-left: -48px; /*half of the width */
            margin-top: -48px; /*half of the height */

            &:hover {
                color: lighten(#2EC8EA, 20%);
            }
        }
    }

    .videoContainer {
        position: relative;
    }
    .playBtn {
        position: absolute;
        width: 96px;
        height: 96px;
        left: 50%;
        top: 50%;
        margin-left: -48px; /*half of the width */
        margin-top: -48px; /*half of the height */
    }

    .row {
        margin-bottom: 25px;
    }

    .card .card-body {
        padding-bottom: 0;
    }
}

.hidden {
    display: none;
}

.levels {
    .level-badge {
        text-shadow: black 1px 1px;
        font-weight: bold;
        padding: 0.25em 1em;
        border-radius: 1em;
        text-transform: uppercase;

        &.race {
            background: #05e06d;
            color: white;
        }

        &.survival {
            background: #b61bd2;
            color: white;
        }

        &.hunt {
            background: #3065b8;
            color: white;
        }

        &.logic {
            background: #009999;
            color: white;
        }

        &.team {
            background: #f55303;
            color: white;
        }

        &.final {
            background: #f9c503;
            color: white;
        }
    }
}
