.crown-rewards {
    .reward-colour {
        display: inline-block;
        width: 7em;
        height: 7em;
        border-radius: 15%;
        border: 0;
        padding: 0;
    }

    .reward-name {
        font-size: 26px;
    }

    .crown-count {
        font-size: 18px;
        vertical-align: inherit;
    }
}

