#tribalwars {
    color: black;
    font-style: normal;
}

#tribalwars a {
    background-color: #9C0000 !important;
    color: white !important;
}

.box-border.red .top-left,
.box-border.red .top-right,
.box-border.red .bottom-left,
.box-border.red .bottom-right {
    width: 20px;
    height: 20px;
}
.box-border.red .middle {
    background: url("bg.png");
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.box-border.red .middle-top,
.box-border.red .middle-bottom {
    height: 20px;
    left: 20px;
    right: 20px;
}
.box-border.red .middle-left,
.box-border.red .middle-right {
    width: 20px;
    top: 20px;
    bottom: 20px;
}
.box-border.red .top-left {
    background: url("border-corner.png");
}
.box-border.red .top-right {
    background: url("border-corner.png");
}
.box-border.red .bottom-left {
    background: url("border-corner.png");
}
.box-border.red .bottom-right {
    background: url("border-corner.png");
}
.box-border.red .middle-left {
    background: url("border-left.png");
}
.box-border.red .middle-right {
    background: url("border-left.png");
}
.box-border.red .middle-top {
    background: url("border-top.png");
}
.box-border.red .middle-bottom {
    background: url("border-top.png");
}
.box-border.red .divider {
    position: absolute;
    background: url("divider-middle.png");
    top: 6px;
    bottom: 3px;
    width: 12px;
}
.box-border.red .divider:before,
.box-border.red .divider:after {
    content: "";
    background: url("divider-top.png");
    width: 19px;
    height: 7px;
    position: absolute;
    left: -5px;
}
.box-border.red .divider:before {
    top: 0;
}
.box-border.red .divider:after {
    bottom: 0;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.box-border.red .wrap {
    position: relative;
}
.box-border.red .left,
.box-border.red .right {
    width: 50%;
    height: 100%;
    float: left;
}
body[dir="rtl"] .box-border.red .left,
body[dir="rtl"] .box-border.red .right {
    float: right;
}
.box-border.red .right {
    float: right;
}
body[dir="rtl"] .box-border.red .right {
    float: left;
}
.box-border.gold {
    background-color: #ddcca5;
}
.box-border.gold .top-left,
.box-border.gold .top-right,
.box-border.gold .bottom-left,
.box-border.gold .bottom-right {
    width: 24px;
    height: 24px;
}
.box-border.gold .middle-top,
.box-border.gold .middle-bottom {
    height: 23px;
    left: 24px;
    right: 24px;
}
.box-border.gold .middle-left,
.box-border.gold .middle-right {
    width: 24px;
    top: 24px;
    bottom: 24px;
}
.box-border.gold .top-left {
    background: url("border-corner2.png");
}
.box-border.gold .top-right {
    background: url("border-corner2.png");
}
.box-border.gold .bottom-left {
    background: url("border-corner2.png");
}
.box-border.gold .bottom-right {
    background: url("border-corner2.png");
}
.box-border.gold .middle-left {
    background: url("border-left2.png");
}
.box-border.gold .middle-right {
    background: url("border-left2.png");
}
.box-border.gold .middle-top {
    background: url("border-top2.png");
}
.box-border.gold .middle-bottom {
    background: url("border-top2.png");
}
.box-border {
    width: 100%;
    height: 100%;
    position: relative;
}
.box-border .inner {
    position: relative;
    padding: 10px;
    height: 100%;
}
.box-border .top-left,
.box-border .top-right,
.box-border .bottom-left,
.box-border .bottom-right,
.box-border .middle,
.box-border .middle-top,
.box-border .middle-bottom,
.box-border .middle-left,
.box-border .middle-right {
    position: absolute;
}
.box-border .top-right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 0;
}
.box-border .top-left {
    left: 0;
}
.box-border .bottom-left {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    bottom: 0;
    left: 0;
}
.box-border .bottom-right {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
}
.box-border .middle-right {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 0;
}
.box-border .middle-left {
    left: 0;
}
.box-border .middle-bottom {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: 0;
}
