---
layout: default
---

<div class="main">
    <div class="verticalCenter">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <a href="{{ site.baseurl }}/levels/slime-climb.html">
                            <img src="{{ site.baseurl }}/img/main/levels.png" class="card-img-top" title="Learning the secrets of the Slime Climb is just one click away">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">The Levels</h5>
                            <p class="card-text">
                                All the shortcuts, tips & tricks, strategies and more
                                for your favourite levels in the form of short video clips.
                            </p>
                            <a href="the-levels.html" class="btn btn-primary">TELL ME MORE</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="card">
                        <a href="{{ site.baseurl }}/the-finals.html">
                            <img src="{{ site.baseurl }}/img/main/finals.png" class="card-img-top" alt="">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">The Finals</h5>
                            <p class="card-text">
                                How to win them crowns in the sweaty final!
                            </p>
                            <a href="the-finals.html" class="btn btn-primary">TELL ME MORE</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card">
                        {% include post/youtube.html id="Vf6PV50vtWQ" desc="Levels 1 to 29" %}
                        <div class="card-body">
                            <h5 class="card-title">Crown Level Rewards</h5>
                            <p class="card-text">
                                Check here what the higher crown level
                                rewards look like!
                                <br>
                                <b>
                                    It's now also possible to view this ingame!
                                </b>
                                <br><br>
                                <span class="badge" title="Conveniently print out all 50 crown level rewards">4 Page Print!</span>
                                <span class="badge">Clip lvls 30-54 in progress</span>
                            </p>
                            <a href="crown-level-rewards-table.html" class="btn btn-primary">TELL ME MORE</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="card">
                        {% include post/youtube.html id="Tq9KNiZPtPs" desc="Penguin Avalanche" %}
                        <div class="card-body">
                            <h5 class="card-title">The Celebrations</h5>
                            <p class="card-text">
                                How to properly celebrate after a well deserved win.
                            </p>
                            <a href="the-celebrations.html" class="btn btn-primary">TELL ME MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
