---
layout: default
---
<div class="main">
    {% include blog/big-header.html title="Fall Guys" %}
    <section class="blog-sidebar">
        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="card">
                        <img src="{{ site.baseurl }}/img/main/" class="card-img-top" alt="Crown Level Rewards">
                        <div class="card-body">
                            <h5 class="card-title">Crown Level Rewards</h5>
                            <p class="card-text">
                                Check here what the higher crown level
                                rewards look like!
                            </p>
                            <a href="crown-level-rewards.html" class="btn btn-primary">TELL ME MORE</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="{{ site.baseurl }}/img/main/" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">The Levels</h5>
                            <p class="card-text">
                                All the shortcuts for your favourite levels.
                            </p>
                            <a href="the-levels.html" class="btn btn-primary">TELL ME MORE</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="{{ site.baseurl }}/img/main/" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">The Finals</h5>
                            <p class="card-text">
                                How to win them crowns in the sweaty final!
                            </p>
                            <a href="the-finals.html" class="btn btn-primary">TELL ME MORE</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="{{ site.baseurl }}/img/main/" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">The Basics</h5>
                            <p class="card-text">
                                Because the ingame tutorial is a bit lacking...
                            </p>
                            <a href="the-basics.html" class="btn btn-primary">TELL ME MORE</a>
                        </div>
                    </div>
                </div>


                <!-- <div class="wow zoomIn col-xs-12 col-sm-6 col-md-4">
                    {% include blog/last-updates.html %}
                </div>
                <div class="wow zoomIn col-xs-12 col-sm-6 col-md-4">
                    {% include blog/category-list.html %}
                </div>
                <div class="wow zoomIn col-xs-12 col-sm-6 col-md-4">
                    {% include blog/tag-cloud.html %}
                </div> -->
                <!-- <div class="wow zoomIn col-xs-12 col-sm-6 col-md-4">
                    include blog/recent-posts-sidebar.html
                </div> -->
            </div>
        </div>
    </section>
</div>
