---
layout: default
---
<div class="container level-detail">
    {% assign level = site.data.levels | where: 'name', page.title | first %}
    {% assign key = level.name | downcase | replace: ' ', '-' | replace: "'", '' %}

    <h1 class="levels">
        <img src="{{ site.baseurl }}/img/levels/{{ key }}-icon.png">
        {{ level.name }}
        <small style="font-size: 0.5em">{% include level/level-type.html type=level.type %}</small>

        <div style="float: right; font-size: 18px; margin-top: 10px;">
            {% if level.type == "final" %}
                <a href="{{ site.baseurl }}/the-finals.html" class="btn btn-light">Finals <i class="fa fa-long-arrow-alt-right"></i></a>
            {% else %}
                <a href="{{ site.baseurl }}/the-levels.html" class="btn btn-light">Levels <i class="fa fa-long-arrow-alt-right"></i></a>
            {% endif %}
        </div>
    </h1>

    <!-- <div class="row">
        <h4>Our Verdict</h4>
        <div>Score: {{ level.score.lao }}%</div>
        {% if level.score.squads %}
            <div>Score Squads: {{ level.score.squads }}%</div>
        {% endif %}
        {% if level.score.variant %}
            <div>Score Variants: {{ level.score.variant }}%</div>
        {% endif %}

        {{ level.verdict }}
    </div> -->

    {% if level.fallguystv %}
        <div class="alert alert-success">
            <a href="{{ level.fallguystv }}" style="float: left; margin-right: 12px; border: 1px solid black; margin-top: 4px" target="_blank" title="Check the {{ level.name }} Video now!">
                <img src="{{ site.baseurl }}/img/fallguystv.jpg">
            </a>

            For the first seasons there was <a href="https://www.youtube.com/channel/UCh5wGt6syAvYzEennj8rpwQ/featured" target="_blank">Fall Guys TV</a>
            with very nicely crafted videos explaining us how to win.
            <br>
            While the content is now somewhat dated, those videos remain gold.
            <br><br>
            <b>Click on the Fall Guys TV logo to see the video of {{ level.name }} now!</b>

            {% if level.fallguystv_info %}
                <br><br>
                <b>Note:</b> {{ level.fallguystv_info }}
            {% endif %}
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
    {% endif %}

    {{ content }}

    <div class="row">
        {% if page.flyby %}
            <div class="col">
                <h2>Flyby</h2>
                {% assign fileName = '/levels/' | append: key | append: '.png' %}
                {% include level/level-flyby.html file=fileName desc=level.objective id=page.flyby %}
            </div>
        {% endif %}

        {% if page.speedrun.youtube %}
            <div class="col">
                <h2>Speedrun</h2>
                {% assign desc = page.speedrun.desc %}
                {% if page.speedrun.time and page.speedrun.time != "" %}
                    {% assign desc = desc | append: ' (' | append: page.speedrun.time | append: ')' %}
                {% endif %}
                {% include post/youtube.html id=page.speedrun.youtube desc=desc %}
            </div>
        {% endif %}
    </div>

    {% for section in page.sections %}
        {% include level/level-tabs.html section=section %}
    {% endfor %}

    {% if page.missing and page.missing.size > 0 and page.missing.first != "" %}
        <div class="row">
            <div class="col">
                <h2>Missing Videos</h2>
                See <a href="{{ site.baseurl }}/contributing.html" style="display: inline">Contributing</a> how you can help complete this page.
                <br>
                Missing on this page:
                <ul>
                    {% for vid in page.missing %}
                        {% if vid != "" %}
                            <li>{{ vid }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>

<footer>
    <a href="{{ site.baseurl }}" title="Home"><i class="fa fa-home"></i></a>
    <a href=" https://twitter.com/SanguLink" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UCcd_ta4jsNo6FvHXGQIkhqA" title=""Youtube><i class="fab fa-youtube"></i></a>

    <a href="{{ site.baseurl }}/contributing.html">Want to Contribute?</a>
</footer>
