---
layout: level
title: Big Shots
permalink: /levels/big-shots

flyby:
speedrun:
  youtube: GSsYcxO9Z_0
  desc: Just keep in the middle and you should be alright :)

missing:
  -
---


<div class="row">
    <div class="col">
        <h2>Griefing</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="griefing-jump-over">Jump Over</button>
            <button type="button" class="btn btn-light" data-id="griefing-wrestling">Wrestling Match</button>
            <button type="button" class="btn btn-light" data-id=""></button>
            <button type="button" class="btn btn-light" data-id=""></button>
        </div>

        <div class="griefing-jump-over">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="jjjaHyrJ8I8" desc="Provoke & Jump Away" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="__pcKHrMGzU" desc="Don't forget to actually jump away :)" %}
                </div>
            </div>
        </div>

        <div class="hidden griefing-wrestling">
            {% include post/youtube.html id="6lMG4JzXRTo" desc="Do not start a hugging contest on Big Shots if you are located on the outside of the See Saw!" %}
        </div>

        <div class="hidden ">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden ">
            {% include post/youtube.html id="" desc="" %}
        </div>


    </div>
</div>








<div class="row">
    <div class="col">
        <h2>Other Stuff</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="other-griefing">Griefing</button>
            <button type="button" class="btn btn-light" data-id="other-useless">Useless Shortcuts</button>
            <button type="button" class="btn btn-light" data-id="other-clutches">Clutches</button>
        </div>

        <div class="other-griefing">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-useless">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-clutches">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>
            </div>
        </div>
    </div>
</div>
