---
layout: level
title: Dizzy Heights
permalink: /levels/dizzy-heights

flyby:
speedrun:
  youtube:
  time: ''
  desc:

missing:
  -
---

<!-- WmIzi1jX05M - donut variant
2dNXbybvg1s - reverse!! -->


<div class="row">
    <div class="col">
        <h2>Start</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="start-short">Shortest Route</button>
            <button type="button" class="btn btn-light" data-id="start-dive">Dive under the Balls</button>
        </div>

        <div class="start-short">
            {% include post/youtube.html id="6m6aUEUn5-8" desc="I always end up going to the right on the end, just because there are usually few beans taking that route" %}
        </div>

        <div class="hidden start-dive">
            {% include post/youtube.html id="agGw1oweLyc" desc="" %}
        </div>
    </div>
</div>



<div class="row">
    <div class="col">
        <h2>Spinning Plates</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="plates-thicc-bonkus">Thicc Bonkus</button>
        </div>

        <div class="plates-thicc-bonkus">
            {% include post/youtube.html id="xGz7LroUCno" desc="" %}
        </div>
    </div>
</div>





<div class="row">
    <div class="col">
        <h2>Final Obstacles</h2>

        <div class="btn-group">
            <!-- <button type="button" class="btn btn-secondary" data-id="final-standard">Standard</button> -->
            <button type="button" class="btn btn-light" data-id="final-yeetus">Yeetus</button>
            <button type="button" class="btn btn-light" data-id="final-spinning-plates">Spinning Plates</button>
            <button type="button" class="btn btn-light" data-id="final-6-beams">Rotating Beams</button>
        </div>

        <!-- <div class="final-standard">
            {% include post/youtube.html id="" desc="" %}
        </div> -->

        <div class="hidden final-spinning-plates">
            {% include post/youtube.html id="0Txhe0KWr2E" desc="" %}
        </div>

        <div class="hidden final-6-beams">
            {% include post/youtube.html id="y0zRu534D7I" desc="Easy jump + dive to bypass the middle disc" %}
        </div>

        <div class="final-yeetus">
            {% include post/youtube.html id="lkEbac7Lwbg" desc="That Yeet!" %}
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <h2>Other Stuff</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="other-griefing">Griefing</button>
            <!-- <button type="button" class="btn btn-light" data-id="other-useless">Useless Shortcuts</button>
            <button type="button" class="btn btn-light" data-id="other-clutches">Clutches</button> -->
        </div>

        <div class="other-griefing">
            {% include post/youtube.html id="8eXCnkcAOgM" desc="A jump over a gap? Griefers ahead!" %}
        </div>

        <!-- <div class="hidden other-useless">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-clutches">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>
            </div>
        </div> -->
    </div>
</div>
