---
layout: level
title: Egg Scramble
permalink: /levels/egg-scramble

flyby:
speedrun:
  youtube:
  desc:

missing:
  -
---


<div class="row">
    <div class="col">
        <h2>Variants</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="alt-giant-golden">Giant Golden Egg</button>
            <button type="button" class="btn btn-light" data-id="alt-all-golden">All golden</button>
        </div>

        <div class="alt-giant-golden">
            {% include post/youtube.html id="d2OKIB_tj9E" desc="" %}
        </div>

        <div class="hidden alt-all-golden">
            {% include post/youtube.html id="vMepMnIvdP4" desc="" %}
        </div>
    </div>
</div>








<!-- <div class="row">
    <div class="col">
        <h2>Other Stuff</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="other-griefing">Griefing</button>
            <button type="button" class="btn btn-light" data-id="other-useless">Useless Shortcuts</button>
            <button type="button" class="btn btn-light" data-id="other-clutches">Clutches</button>
        </div>

        <div class="other-griefing">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-useless">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-clutches">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>
            </div>
        </div>
    </div>
</div>
 -->


