---
layout: level
title: Fall Mountain
permalink: /levels/fall-mountain

flyby:
speedrun:
  youtube:
  time: ''
  desc:

missing:
  - Pretty much everything ;)
---

<div class="row">
    <div class="col">
        {% include post/youtube.html id="uKyAb_-QnUc" desc="Top slope Rotating Hammer shortcut" %}
    </div>

    <div class="col">
        {% include post/youtube.html id="TvZn90M4RNc" desc="Mistimed your jump or the game didn't register your grab? If you have some time, jump & grab back up for a second chance!" %}
    </div>
</div>
