---
layout: level
title: Jump Club
permalink: /levels/jump-club

flyby:
speedrun:
  youtube:
  desc:

missing:
  -
---


<div class="row">
    <div class="col">
        <h2></h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="tricks-recover">Recover</button>
        </div>

        <div class="tricks-recover">
            {% include post/youtube.html id="fKpqeMmcksg" desc="Recover from griefing / own stupidity when the rotating beam is not moving too fast yet" %}
        </div>

        <!-- <div class="hidden ">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden ">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden ">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>
            </div>
        </div> -->
    </div>
</div>








<div class="row">
    <div class="col">
        <h2>Other Stuff</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="other-griefing">Griefing</button>
            <!-- <button type="button" class="btn btn-light" data-id="other-useless">Useless Shortcuts</button> -->
            <!-- <button type="button" class="btn btn-light" data-id="other-clutches">Clutches</button> -->
        </div>

        <div class="other-griefing">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="InhNzwuAyxw" desc="Karma!" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="oOCKkIL5IZc" desc="Try & target expensive outfits" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="dygaiDgUtbQ" desc="Griefing" %}
                </div>
            </div>
        </div>

        <!-- <div class="hidden other-useless">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-clutches">
            {% include post/youtube.html id="" desc="" %}
        </div> -->
    </div>
</div>
