---
layout: level
title: Perfect Match
permalink: /levels/perfect-match

flyby:
speedrun:
youtube:
time:
desc:

missing:
-
---


<!-- <div class="row">
    <div class="col">
        <h2></h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id=""></button>
            <button type="button" class="btn btn-light" data-id=""></button>
            <button type="button" class="btn btn-light" data-id=""></button>
            <button type="button" class="btn btn-light" data-id=""></button>
        </div>

        <div class="">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden ">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden ">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden ">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>
            </div>
        </div>
    </div>
</div> -->








<div class="row">
    <div class="col">
        <h2>Other Stuff</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="other-griefing">Griefing</button>
            <!-- <button type="button" class="btn btn-light" data-id="other-useless">Useless Shortcuts</button>
            <button type="button" class="btn btn-light" data-id="other-clutches">Clutches</button> -->
        </div>

        <div class="other-griefing">
            {% include post/youtube.html id="D3V7CMwyMD8" desc="With a little help of my friend!" %}
        </div>

        <!-- <div class="hidden other-useless">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-clutches">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>
            </div>
        </div> -->
    </div>
</div>
