---
layout: level
title: See Saw
permalink: /levels/see-saw

flyby: yH03G7SHOt4
speedrun:
  youtube: bpf3ldipOGY
  time: '0:56'
  desc:

alternative_speedrun:
  - v1FWzl1u4Uo 0:58
  - 27AlvcApnaQ 1:01

missing:
  -
---

<!-- S8k_XB7wwjU - Yeetus
vphAOh1qVfQ - griefing -->



<div class="row">
    <div class="col">
        <h2>Tricks</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="tricks-switch">Switch See Saws</button>
            <button type="button" class="btn btn-light" data-id="tricks-final-battle">Final Battle</button>
            <button type="button" class="btn btn-light" data-id="tricks-reverse-dive">Reverse Dive</button>
        </div>

        <div class="tricks-switch">
            {% include post/youtube.html id="BfMMkrCkj_Y" desc="Switch See Saws when it seems your current one is doomed" %}
        </div>

        <div class="hidden tricks-final-battle">
            {% include post/youtube.html id="im-PKD6Qyy8" desc="Use the final See Saw to get that first place" %}
        </div>

        <div class="hidden tricks-reverse-dive">
            {% include post/youtube.html id="FBYpZ3wI7fI" desc="Dive on a tilted See Saw to have a better chance of staying on it" %}
        </div>
    </div>
</div>








<!-- <div class="row">
    <div class="col">
        <h2>Other Stuff</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="other-griefing">Griefing</button>
            <button type="button" class="btn btn-light" data-id="other-useless">Useless Shortcuts</button>
            <button type="button" class="btn btn-light" data-id="other-clutches">Clutches</button>
        </div>

        <div class="other-griefing">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-useless">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-clutches">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>
            </div>
        </div>
    </div>
</div> -->
