---
layout: level
title: The Whirlygig
permalink: /levels/the-whirlygig

flyby: oev9gqVSIas
speedrun:
  youtube: xtZ6CtHlJLU
  time: '0:54'
  desc:

missing:
  - Speedrun
---


<div class="row">
    <div class="col">
        <h2>Start</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="start-let-it-be">Undergo the Beams</button>
            <button type="button" class="btn btn-light" data-id="start-escape-blades">Escape the Blades</button>
        </div>

        <div class="hidden start-escape-blades">
            {% include post/youtube.html id="QjqndkmBUac" desc="Should you ever end up there" %}
        </div>

        <div class="start-let-it-be">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="pzXl44IvMBE" desc="Let the Rotating Beams take care of things" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="p84r0IRzBn0" desc="Or the other way" %}
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col">
        <h2>The Empty Plane</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="plane-">Wait</button>
            <button type="button" class="btn btn-light" data-id="plane-double-jump">Double Jump</button>
        </div>

        <div class="plane-">
            {% include post/youtube.html id="PF09qEeGqKk" desc="As always, better to wait instead of getting hit" %}
        </div>

        <div class="hidden plane-double-jump">
            {% include post/youtube.html id="NhoSem-0NCs" desc="Missed the Conveyor Belt? Double Jump!" %}
        </div>
    </div>
</div>




<div class="row">
    <div class="col">
        <h2>Spinning Blade</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="spinning-blade-dive">Dive</button>
            <button type="button" class="btn btn-light" data-id="spinning-blade-spinning-plate">Spinning Plates</button>
            <button type="button" class="btn btn-light" data-id="spinning-blade-rotating-beam">Rotating Beam Boost</button>
            <button type="button" class="btn btn-light" data-id="spinning-blade-double-beam">Double Beam</button>
            <button type="button" class="btn btn-light" data-id="spinning-blade-griefing">Griefing</button>
        </div>

        <div class="hidden spinning-blade-double-beam">
            {% include post/youtube.html id="yCXVFBAtfa8" desc="Especially landing on the Rotating Beam platform is a bit tricky. Do not dive on it." %}
        </div>

        <div class="hidden spinning-blade-rotating-beam">
            {% include post/youtube.html id="ZAfWKS4fhsY" desc="Walk forward as it hits you for maximum effect" %}
        </div>

        <div class="hidden spinning-blade-spinning-plate">
            {% include post/youtube.html id="hgw5rEfcVNs" desc="There is always room to dive under the Fan" %}
        </div>

        <div class="hidden spinning-blade-griefing">
            {% include post/youtube.html id="6BLMyEnj9z4" desc="How I love these insta Karma videos" %}
        </div>

        <div class="spinning-blade-dive">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="s9C9xsiKAsY" desc="Just a dive. Choose the side where the wings pass first. Some do a jump dive. It's even possible without a dive." %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="BC5QvTDXt7g" desc="Failing that, here's how to get back on track" %}

                    {% include post/youtube.html id="XaL17g5dIEM" desc="Or without the grabbing" %}
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="row">
    <div class="col">
        <h2>Other Stuff</h2>

        <div class="btn-group">
            <button type="button" class="btn btn-secondary" data-id="other-griefing">Griefing</button>
            <button type="button" class="btn btn-light" data-id="other-useless">Useless Shortcuts</button>
            <button type="button" class="btn btn-light" data-id="other-clutches">Clutches</button>
        </div>

        <div class="other-griefing">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-useless">
            {% include post/youtube.html id="" desc="" %}
        </div>

        <div class="hidden other-clutches">
            <div class="row">
                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>

                <div class="col">
                    {% include post/youtube.html id="" desc="" %}
                </div>
            </div>
        </div>
    </div>
</div> -->
