---
layout: page
title: Contributing
permalink: /contributing-speedrun
---


<div class="col-12">


<div class="row">
<div class="col-6">
    <h2>Speedruns</h2>
    {% for page in site.levels %}
        {% assign level = site.data.levels | where: 'name', page.title | first %}
        <a href="{{ page.url }}">{{ page.title }}</a>:
        {% if page.speedrun.youtube == blank %}
            None
        {% else %}
            {{ page.speedrun.time }} - {{ page.speedrun.desc }}
        {% endif %}
        <br>
    {% endfor %}
</div>


<div class="col-6">
<h2>Flybys</h2>
    {% for page in site.levels %}
        {% if page.flyby == blank %}
            {{ page.title }}
            <br>
        {% endif %}
    {% endfor %}
</div>
</div>

</div>
</div>
