---
layout: page
title: Crown Level Rewards
permalink: /crown-level-rewards-table

hasOwnBackButton: true
containerClass: 'crown-levels-container'
---

<div class="col" style="margin-top: 15px">
    {% include crown-reward-filters.html current='table' %}

    <table class="table table-hover crown-rewards">
        <thead class="table-dark">
            <tr>
                <th class="d-none d-md-table-cell">Level</th>
                <th>Name</th>
                <th>Reward</th>
                <th class="d-none d-md-table-cell">Type</th>
                <th title="Total crowns">Crowns</th>
                <th class="d-none d-md-table-cell" title="Crowns for next rank">Next</th>
            </tr>
        </thead>
        <tbody>
            {% assign crownlevels = site.data.crownlevels | reverse %}
            {% for cl in crownlevels %}
            <tr class="{{ cl.type }} level-{{ cl.level }}">
                <td class="d-none d-md-table-cell">
                    <a href="#{{ cl.level }}" class="no-print">{{ cl.level }}</a>
                    <span class="only-print">{{ cl.level }}</span>
                </td>
                <td>
                    <a href="#{{ cl.level }}" name="{{ cl.level }}" class="no-print d-md-none">{{ cl.level }}</a>
                    {{ cl.name }}
                </td>
                <td>{% include crown-reward.html size='sm' crownlevel=cl %}</td>
                <td class="d-none d-md-table-cell">{% include crown-reward-type.html type=cl.type %}</td>
                <td>
                    <img src="{{ site.baseurl }}/img/crown.png" style="padding-right: 6px">
                    <span class="crown-count">{{ cl.crowns }}</span>
                </td>
                <td class="d-none d-md-table-cell">
                    {% if cl.next %}
                        <img src="{{ site.baseurl }}/img/crown.png" style="padding-right: 6px">
                        <span class="crown-count">{{ cl.next }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
