---
layout: page
title: The Celebrations
permalink: /the-celebrations
---

<div class="col">

<h1>The Celebrations</h1>

Discontinued: You can see it in the shop now ;)

<div class="row">
{% assign season = "" %}
{% for celebration in site.data.celebrations %}
    {% if celebration.season != season %}
        {% assign season = celebration.season %}
        <div class="col-12">
            <h2>Season {{ celebration.season | replace: 'L', 'Legacy ' }}</h2>
        </div>
    {% endif %}

    {% if celebration.youtube %}
        <div class="col-12 col-xl-4 col-md-6">
            {% assign desc = celebration.name | append: ' (' | append: celebration.time | append: ')' %}
            {% include post/youtube.html id=celebration.youtube desc=desc %}
        </div>
    {% endif %}
{% endfor %}
</div>

</div>
